// Dark theme
$backgroundDark: #161316;
$sidebarDark: #211F1C;
$textDark: #F5F6F4;

// Bright theme
$backgroundBright: #F5F6F4;
$sidebarBright: #C7C3BC;
$textBright: #0B090B;

// Brand
$brandPrimary: #DE6502;
