// Dark theme
$backgroundDark: #161316;
$sidebarDark: #4E4941;
$textDark: #F5F6F4;

// Bright theme
$backgroundBright: #F5F6F4;
$sidebarBright: #7A7265;
$textBright: #0B090B;

// Brand
$brandPrimary: #DE6502;
